<div class="layui-fluid">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="dgpdproject/index">
                                                <i class="layui-icon layui-icon-note"></i>
                                                <cite>标前立项</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a lay-href="dgbiddeposit/index">
                                                <i class="layui-icon layui-icon-vercode"></i>
                                                <cite>保证金申请</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="dgbiddepositrefund/index">
                                                <i class="layui-icon layui-icon-password"></i>
                                                <cite>保证金退款</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a lay-href="dgcontract/index">
                                                <i class="layui-icon layui-icon-tabs"></i>
                                                <cite>承包合同</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a lay-href="dgcontractcollection/index">
                                                <i class="layui-icon layui-icon-app"></i>
                                                <cite>项目收款</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a lay-href="dgprojectgrant/index">
                                                <i class="layui-icon layui-icon-dollar"></i>
                                                <cite>项目拨款</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="dgcurrentpayment/index">
                                                <i class="layui-icon layui-icon-next"></i>
                                                <cite>往来款支付</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="dginvoiceapplication/index">
                                                <i class="layui-icon layui-icon-rmb"></i>
                                                <cite>开票申请</cite>
                                            </a>
                                        </li>

                                    </ul>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">待办事项</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a lay-href="/flowinstances/wait" class="layadmin-backlog-body">
                                                <h3>待处理信息</h3>
                                                <p><cite id="dcl">0</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/flowinstances/disposed" class="layadmin-backlog-body">
                                                <h3>已处理信息</h3>
                                                <p><cite id="ycl">0</cite></p>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs6">
                                            <a lay-href="/flowInstances/index" class="layadmin-backlog-body">
                                                <h3>我的任务</h3>
                                                <p><cite id="wdrw">0</cite></p>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs6">
                                            <a lay-href="/SysMessages/index" class="layadmin-backlog-body">
                                                <h3>我的信息</h3>
                                                <p><cite id="wdxx">0</cite></p>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">公告动态</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>


</div>



<script>
    layui.use('console', layui.factory('console'));
</script>

